{% load static %}

<link rel='stylesheet' href="{% static 'admin/home.css' %}" />
<!--Meta Tags-->
<meta name='viewport' content='user-scalable=0,width=device-width,initial-scale=1'/>
<meta name='theme-color' content='dodgerblue'/>

<div class='container'>
    <p id='heading'>Admin Site</p>

    Add New Book

    <form action="/admin/add_book/" method="POST">
        <input type='text' name="title" placeholder="Title" /><br>
        <input type='text' name="description" placeholder="Description" /><br>
        <input type='text' name="genre" placeholder="Genre" /><br>
        <input type='text' name="image_link" placeholder="Image Link" /><br>
        <input type='number' name="book_rating" placeholder="Book Rating"/><br>
        <input type='number' name="ratiings_count" placeholder="Ratings Count" /><br>
        <input type="text" name="author" placeholder="Author" /><br>
        <input type='number' name="author_rating" placeholder="Author Rating"/><br>
        <input type='number' name="year" placeholder="Year" /><br>
        <input type='number' name="edition" placeholder="Edition"/><br>
        <input id='button' type='submit' value="Add" />
    </form>


</div>

<style>
    input{
        padding:10px;
        font-size:20px;
        margin-top:5px;
        width:400px;
        border-radius:5px;
        border:2px solid rgb(200,200,200);
    }

    #button{
        background:dodgerblue;
        color:white;
    }
</style>